* {
    urgent:                         #f07178;
    background:                     #252a33;
    background-alt:                 #00000000;
    border:                         #434c5e;
    foreground:                     #ecf2f8;
    selected:                       #82aaff;

    background-bar:                 #252a33;
    accent:                         #89ddff;
}
