* {
    urgent:                         #DA4453FF;
    background:                     #31363bff;
    background-alt:                 #00000000;
    border:                         #3daee966;
    foreground:                     #f5f5f5e6;
    selected:                       #1d99f3ff;

    background-bar:                 #3daee966;
    accent:                         #1d99f3ff;
}
