configuration {
    modi: "drun,run,window,filebrowser";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "ghostty";
    font: "JetBrainsMono Nerd Font 12";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Windows";
    display-filebrowser: " Files";
    drun-display-format: "{name}";
}

@theme "catppuccin"
